# Web Framework & Server
fastapi
uvicorn
python-multipart

# Database & ORM
sqlalchemy
psycopg2-binary
pymongo

# Auth & Security
python-jose
pwdlib[argon2]

# Validation & Settings
pydantic

# Environment
python-dotenv

# Agent & Orchestration (LangChain / LangGraph)
langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
langchainhub
langchain-pinecone
langchain-huggingface
langchain-nvidia-ai-endpoints

# LLMs & Inference integrations
langchain-groq
langchain-tavily

# Doc Loaders & OCR
docling

# Additional
pydantic-settings
sentence-transformers