# Web Framework & Server
fastapi
uvicorn
python-multipart

# Database & ORM
sqlalchemy
psycopg2-binary
pymongo

# Auth & Security
python-jose
pwdlib[argon2]

# Validation & Settings
pydantic
pydantic-settings

# Environment
python-dotenv

# Agent & Orchestration (LangChain / LangGraph)
langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
langchainhub
langchain-pinecone
langchain-huggingface
langchain-nvidia-ai-endpoints

# LLMs & Inference integrations
langchain-groq
langchain-tavily

# Doc Loaders & OCR
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
docling
PyMuPDF
pypdf
unstructured
python-docx

# Additional
sentence-transformers